//------------------------------------ Color Palette ------------------------------------//
:root {

    //------------------------------------ Font Schemes ------------------------------------//
    --font-color-basics: #F4F5EE;
    --font-color-medium: #D9DAD3;
    --font-color-low: #989992;
    --font-color-basics: #313130; // Dark Mode
    --font-color-medium: #393939;
    --font-color-low: #6B6D6E;

    //------------------------------------ Neutrals ------------------------------------//
    --accent-white: #FFFFFF;
    --accent-black: #000000;
    --accent-beige: #C9CDBC;
    --accent-gray: #696B61;

    //------------------------------------ Tones ------------------------------------//
    --accent-mint: #00C9A2;
    --accent-pear: #C7E502;
    --accent-veronica: #9A3CEC;

    //------------------------------------ Transparency ------------------------------------//
    --accent-beige-medium: rgba(251, 205, 188, 0.18);
    --accent-beige-low: rgba(251, 205, 188, 0.10);
    --accent-gray-medium: rgba(105, 107, 97, 0.18);
    --accent-black-medium: rgba(000, 000, 000, 0.18);

    //------------------------------------ Typography ------------------------------------//
    --font-frank-ruhl-libre: 'Frank Ruhl Libre', 'Times New Roman';
    --font-poppins: 'Poppins', 'Roboto';

    //------------------------------------ Fonts Weight ------------------------------------//
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;

    //------------------------------------ Heading (h1 - h4) Standard ------------------------------------//
    --h1-main-heading-type-one: 48px;
    --h2-title-basic-model: 40px;
    --h3-subtitle-basic-model: 30px;
    --h4-strong-text-basic: 24px;

    //------------------------------------ Heading for Mobile (h1 - h4) ------------------------------------//
    --h1-mobile-main-heading-type-one: 38px;
    --h2-mobile-title-basic-model: 28px;
    --h3-mobile-subtitle-basic-model: 26px;
    --h4-mobile-strong-text-basic: 24px;

    //------------------------------------ Paragraph ------------------------------------//
    --mini-text: 12px;
    --normal-paragraph: 16px;
    --descriptive-paragraph: 20px;
    --subtitle-paragraph: 32px;
    
    //------------------------------------ Paragraph for Mobile ------------------------------------//
    --mobile-normal-paragraph: 14.5px;
    --mobile-descriptive-paragraph: 18px;
    --mobile-subtitle-paragraph: 26px;
}