:root {
  --font-color-basics: #313130;
  --font-color-medium: #393939;
  --font-color-low: #6B6D6E;
  --font-color-basics: #F4F5EE;
  --font-color-medium: #D9DAD3;
  --font-color-low: #989992;
  --accent-white: #FFFFFF;
  --accent-black: #000000;
  --accent-beige: #C9CDBC;
  --accent-gray: #696B61;
  --accent-mint: #00C9A2;
  --accent-pear: #C7E502;
  --accent-veronica: #9A3CEC;
  --accent-beige-medium: rgba(251, 205, 188, 0.18);
  --accent-beige-low: rgba(251, 205, 188, 0.10);
  --accent-gray-medium: rgba(105, 107, 97, 0.18);
  --accent-black-medium: rgba(000, 000, 000, 0.18);
  --font-frank-ruhl-libre: "Frank Ruhl Libre", "Times New Roman";
  --font-poppins: "Poppins", "Roboto";
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  --h1-main-heading-type-one: 48px;
  --h2-title-basic-model: 40px;
  --h3-subtitle-basic-model: 30px;
  --h4-strong-text-basic: 24px;
  --h1-mobile-main-heading-type-one: 38px;
  --h2-mobile-title-basic-model: 28px;
  --h3-mobile-subtitle-basic-model: 26px;
  --h4-mobile-strong-text-basic: 24px;
  --mini-text: 12px;
  --normal-paragraph: 16px;
  --descriptive-paragraph: 20px;
  --subtitle-paragraph: 32px;
  --mobile-normal-paragraph: 14.5px;
  --mobile-descriptive-paragraph: 18px;
  --mobile-subtitle-paragraph: 26px;
}

button {
  font-family: var(--font-poppins);
  font-size: var(--normal-paragraph);
  border-radius: 9999px;
  height: 40px;
  padding: 8px 40px;
  cursor: pointer;
}

.button-soft {
  background-color: var(--accent-gray);
}

.button-cta-dark-mode {
  background-color: var(--accent-beige);
  color: var(--accent-black);
}

.button-normal-dark-mode {
  background-color: var(--accent-beige-medium);
  color: var(--accent-beige);
}

.button-light-dark-mode {
  background-color: transparent;
  color: var(--accent-beige);
  border: 2px solid var(--accent-beige);
  padding: 5px 40px;
}

.button-cta-light-mode {
  background-color: var(--accent-black);
  color: var(--accent-beige);
}

.button-normal-light-mode {
  background-color: var(--accent-gray-medium);
  color: var(--accent-black);
}

.button-light-light-mode {
  background-color: transparent;
  color: var(--accent-gray);
  border: 2px solid var(--accent-gray);
  padding: 5px 40px;
}

i {
  width: 30px;
  height: 30px;
}

.icon-dark-mode {
  color: var(--accent-white);
}

.icon-light-mode {
  color: var(--accent-black);
}

body {
  background-color: #000000;
  padding: 6px;
}

#hero-container #hero {
  height: auto;
}
#hero-container #hero .gallery-container {
  border-radius: 21px 21px 0 0;
  height: auto;
  min-height: calc(60vh - 6px);
  padding: 0 24px;
  padding-top: 4rem;
  position: relative;
  overflow: hidden;
}
#hero-container #hero .gallery-container #gallery {
  position: relative;
  margin: auto;
  max-width: 1352px;
  min-height: calc(60vh - 6px - 4rem);
  z-index: 1;
}
#hero-container #hero .gallery-container #gallery #top-bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#hero-container #hero .gallery-container #gallery #top-bar > * {
  height: 100%;
}
#hero-container #hero .gallery-container #gallery #top-bar #nav-menu {
  background-color: #000000;
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#hero-container #hero .gallery-container #gallery #top-bar #nav-menu .option {
  width: 50px;
  aspect-ratio: 1;
  background-color: #fff;
}
#hero-container #hero .gallery-container #gallery #gallery-images-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 425px;
  height: auto;
}
#hero-container #hero .gallery-container #gallery #gallery-images-container > * {
  width: 31%;
  aspect-ratio: 5/3;
  border: 2px solid rgba(255, 255, 255, 0.2);
  object-fit: cover;
  object-position: center;
}
#hero-container #hero .gallery-container #gallery #gallery-images-container #img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.4) rotate(2deg);
}
#hero-container #hero .gallery-container::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  height: 140%;
  width: 140%;
  background: url("../../assets/img/bg-3.webp") no-repeat center center/cover;
  filter: blur(30px);
  opacity: 0.9;
  z-index: 0;
}
#hero-container #hero #description-content {
  padding: 0 24px;
  min-height: calc(40vh - 6px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#hero-container #hero #description-content #description {
  margin: 15px auto;
  max-width: 1352px;
  width: 100%;
  position: relative;
}
#hero-container #hero #description-content #description #circle-interaction-container {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: -1;
  bottom: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-container #hero #description-content #description #circle-interaction-container #circle-interaction {
  width: 1200px;
  aspect-ratio: 1;
  background: var(--accent-mint);
  background: radial-gradient(circle, rgba(0, 201, 162, 0.25) 0%, rgba(0, 0, 0, 0) 75%);
}
#hero-container #hero #description-content #description #content {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
#hero-container #hero #description-content #description #content * {
  color: var(--font-color-basics);
}
#hero-container #hero #description-content #description #content h1 {
  width: 100%;
  max-width: 326px;
  min-width: 300px;
  line-height: 3.25rem;
  font-size: var(--h1-main-heading-type-one);
  font-family: var(--font-frank-ruhl-libre);
}
#hero-container #hero #description-content #description #content p {
  padding-left: 50px;
  max-width: 600px;
  font-size: var(--descriptive-paragraph);
  font-family: var(--font-poppins);
}
#hero-container #hero #description-content #description nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  border: solid 1px #fff;
  padding: 8px 16px;
}
#hero-container #hero #description-content #description nav ul {
  display: flex;
  flex-direction: row;
}
#hero-container #hero #description-content #description nav ul * {
  text-decoration: none;
}
#hero-container #hero #description-content #description nav .links li {
  padding-right: 15px;
}
#hero-container #hero #description-content #description nav .links li a {
  font-family: var(--font-poppins);
  font-size: var(--normal-paragraph);
  padding: 0 22px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color-low);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}
@media (max-width: 940px) {
  #hero-container #hero .gallery-container, #hero-container #hero #description-content {
    padding-left: 16px;
    padding-right: 16px;
  }
  #hero-container #hero .gallery-container {
    padding-top: 40px;
  }
  #hero-container #hero .gallery-container #gallery #top-bar #nav-menu .option {
    width: 50px;
    aspect-ratio: 1;
    background-color: #fff;
  }
  #hero-container #hero .gallery-container #gallery #gallery-images-container {
    min-height: 325px;
    height: auto;
    margin: 45px 0;
  }
  #hero-container #hero .gallery-container #gallery #gallery-images-container img {
    width: 40%;
  }
  #hero-container #hero .gallery-container #gallery #gallery-images-container #img-container img {
    transform: scale(2.95) rotate(1.5deg);
  }
  #hero-container #hero #description-content #description #content {
    flex-direction: column;
    margin: 15px 0;
  }
  #hero-container #hero #description-content #description #content h1 {
    margin-bottom: 18px;
  }
  #hero-container #hero #description-content #description #content p {
    font-size: var(--mobile-descriptive-paragraph);
    padding: 0;
  }
  #hero-container #hero #description-content #description nav {
    padding: 10px 0;
    border: none;
    background-color: transparent;
  }
  #hero-container #hero #description-content #description nav .links {
    display: none;
  }
}
@media (max-width: 580px) {
  #hero-container #hero .gallery-container #gallery #top-bar #nav-menu .option {
    width: 50px;
    aspect-ratio: 1;
    background-color: #fff;
  }
  #hero-container #hero .gallery-container #gallery #gallery-images-container {
    min-height: 325px;
    height: auto;
    margin: 45px 0;
    flex-direction: column;
  }
  #hero-container #hero .gallery-container #gallery #gallery-images-container > * {
    max-width: 400px;
  }
  #hero-container #hero .gallery-container #gallery #gallery-images-container img {
    width: auto;
  }
  #hero-container #hero .gallery-container #gallery #gallery-images-container #img-container {
    width: auto;
  }
  #hero-container #hero .gallery-container #gallery #gallery-images-container #img-container img {
    transform: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-optical-sizing: auto;
}

ol, ul {
  list-style: none;
}

/*# sourceMappingURL=main.css.map */
